<% include header.html %>

  <body>

    <section class="section is-widescreen">
      <main class="container">
        <h1 class="title text-center"><%=__('Find your Product!') %></h1>
        <h2 class="subtitle text-center faint">
          <%= __('{{title}}, the leading platform for buying and selling of second-hand products', {title}) %>
        </h2>

        <section id="products">

          <div class="flex-card-container">

            <% anuncios.forEach(anuncios=>{%>
              <article class="flex-card">

                <img src="./images/<%=anuncios.foto %>">
                <h2>
                  <%= anuncios.precio %> <span>€</span>
                </h2>
                <h3>

                  <%= anuncios.nombre %>
                </h3>


                <p>Venta:<%= anuncios.venta %>
                </p>
                <span class="tags">
                  <%= anuncios.tags %>
                </span>

              </article>
              <% }) %>

          </div>
        </section>
      </main>

    </section>
    <% include footer.html %>


  </body>

  </html>
