<% include header.html %>

  <body>

    <section class="section is-widescreen">
      <main class="container">
        <h1 class="title text-center"><%=__('Find your Product!') %></h1>
        <h2 class="subtitle text-center faint">
          <%= __('{{title}}, the leading platform for buying and selling of second-hand products', {title}) %>
        </h2>

        <section id="products">

          <div class="flex-card-container">

            <% anuncios.forEach(anuncios=>{%>
              <article class="flex-card">
                <% if (anuncios.foto){ %>
                  <img src="./images/<%=anuncios.foto %>">
                <% }else{ %> 
                 <img src="https://bulma.io/images/placeholders/128x128.png">
                <% } %>
                
                <div class="columns">
                  <div class="column is-three-quarters">
                    <h3 class="title-product">
                      <%= anuncios.precio %> <span>€</span>
                    </h3>
                    <p><%= anuncios.nombre %></p>
                    <span class="tags tags-product">
                        <%= anuncios.tags %>
                     </span>
                  </div>

                  <div class="column auto">
                    <p class="sale-product">
                      <%= (anuncios.venta) ? __('Venta') : __('Búsqueda') %>
                    </p>
                 </div>
                </div>

              </article>
              <% }) %>

          </div>
        </section>
      </main>

    </section>
    <% include footer.html %>


  </body>

  </html>
