body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 1.5rem;
}
h2{
	font-size: 1rem;
}
p{
	font-size: 1rem;
    color: #282c31;
    font-weight: 300;
    line-height: 1.5rem;
}
img{
	width: 100%;
	border-radius:8px;
}


a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    background-color: #fafafa;
    color: #13C1AC;
}

.section{
  background-color:#ECEFF1;
}

.form{
  padding: 3rem;
 
  background-color: white;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%);
}
.flex-card-container{
	 display: flex;
	 flex-direction: row;
   flex-wrap: wrap;
   padding: 2rem 0rem;
 
}
.flex-card{
  background-color: white;
  margin-right: 1rem;
  margin-bottom: 2rem;
  padding:0.5rem; 
  padding-bottom: 2rem;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%);
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}
 

.title-product{
     margin-top: 8px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #253238;
}

.sale-product{
   margin-top: 8px;
  font-size: 0.9rem;
  padding: 0.5px;
  background-color: #00d1b2;
  border-color: transparent;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-weight: 800;
}

.tags-product{
    margin-top: 2px;
    font-size: 1rem;
    color: #90A4AE;
    line-height: 1.2;
}
.error-message{
    color: #cc0f35;
    margin: 10px 0;
    border-radius: .375em;
}
.text-center{
    text-align: center;
    line-height: 1.5;
}
.faint{
    color: #607D8B !important;
}

.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 2rem !important;
}

@media(max-width:768px){
  .flex-card{
    width: 100%;
    margin-bottom: 2rem;
  }
}